{% extends 'research/base.html' %}
{% load bootstrap3 %}

{% block title %}{% endblock %}
{% block content %}
<!--suppress HtmlUnknownTarget -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">主页</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">调查问卷</a></li>
        </ul>
    </div>
    <div class="nav navbar-right">
        <a class="navbar-brand btn-warning" href="{% url 'logout' %}" >退出登录</a>
    </div>
    </div>
</nav>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            调查问卷列表
        </h3>
    </div>
    <div class="panel-body">
        {% if research_exist == False %}
            {{body}}
        {% else %}
        <a href="{% url 'index' %}">第{{num}}期新员工调查问卷</a><br/>
        {% endif %}
    </div>
</div>

{% endblock %}
