{% extends 'research/base.html' %}
{% block bootstrap3_extra_head %}
{% endblock %}
{% load bootstrap3 %}

{% block title %}{% endblock %}
{% block content %}
    <!--suppress HtmlUnknownTarget -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">
                <span class="glyphicon glyphicon-home"></span> 主页</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'home' %}">
                        <span class="glyphicon glyphicon-th-list"></span> 调查问卷
                    </a>
                </li>
            </ul>
        </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'change_pwd' %}" class="btn-warning">
                    <span class="glyphicon glyphicon-hand-right"></span> 修改密码</a></li>
                <li><a href="{% url 'logout' %}" class="btn-success">
                    <span class="glyphicon glyphicon-log-out"></span> 退出登录</a></li>
            </ul>
        </div>
    </nav>
    {% block content_list %}
    {% endblock %}
{% endblock %}
{% block bootstrap3_extra_script %}
{% endblock %}